:root {
    --background-color: #282828;
    --border-color: #3E3E3E;
    --primary-color: #fff;
    --menu-hover-color: #1F1F1F;
    --scrollbar-thumb-color: #606060;
    --scrollbar-thumb-hover-color: #555;
    --black-color: #000;
    --dark-gray-color: #161616;
    --white-opacity: rgba(255, 255, 255, 0.7);
}

body{
    background-color: var(--background-color);
}

main{
    padding: 5rem 6rem 5rem 18rem;
    transition: padding 0.3s ease;
}

.SidebarComponent.closed + main{
    padding-left: 6rem;
}

div{
    color: var(--primary-color);
}