:root {
    --background-color: #282828;
    --border-color: #3E3E3E;
    --primary-color: #fff;
    --menu-hover-color: #1F1F1F;
    --scrollbar-thumb-color: #606060;
    --scrollbar-thumb-hover-color: #555;
    --black-color: #000;
    --dark-gray-color: #161616;
    --white-opacity: rgba(255, 255, 255, 0.7);
}

.SidebarComponent img{
    width: 2rem;
}

.SidebarComponent{
    border: 2px solid red;
    position: fixed;
    width: 16rem;
    height: 100vh;
    padding-top: 4rem;
    z-index: 5;
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
    border-right: 0.1rem solid var(--border-color);
    transition: whith 0.3 ease;
}

.SidebarHeader{
    border: 2px solid white;
    padding: 1.2rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--primary-color);
    transition: padding 0.2s ease;
}

.SidebarHeader img{
    width: 7rem;
    height: 7rem;
    object-fit: cover;
    border-radius: 50%;
    transition: width 0.3s ease, height 0.3s ease;
}

.SidebarHeader .UserData{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.1rem;
    gap: 0.3rem;
    overflow: hidden;
    opacity: 1;
    transition: all 0.3S ease;
}


.SidebarHeader .UserData span:first-child{
    font-weight: 600;
    font-size: 0.9rem;
}

.SidebarHeader .UserData span:last-child{
    opacity: 0.5;
}

.SidebarMenu{
    border: 2px solid green;
    width: 100%; 
    height: calc(100%-20rem);
    padding: 0 0.8rem;
    margin-bottom: auto;
    overflow-y: overlay;
    overflow-x: hidden;
    transition: height 0.3s ease;
}

.SidebarMenu img, .SidebarFooter img{
    width: 1.3rem;
}

.SidebarComponent li{
    border: 2px solid green;
    display: flex;
    padding: 0.8rem;
    border-radius: 0.7rem;
    list-style: none;
    cursor: pointer;
    position: relative;
}

.SidebarComponent li:hover{
    background-color: var(--menu-hover-color);
}