:root {
    --background-color: #282828;
    --border-color: #3E3E3E;
    --primary-color: #fff;
    --menu-hover-color: #1F1F1F;
    --scrollbar-thumb-color: #606060;
    --scrollbar-thumb-hover-color: #555;
    --black-color: #000;
    --dark-gray-color: #161616;
    --white-opacity: rgba(255, 255, 255, 0.7);
}

.SidebarComponent img{
    width: 2rem;
}

.SidebarComponent{
    position: fixed;
    width: 10rem;
    height: 100vh;
    padding-top: 4rem;
    z-index: 5;
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
    border-right: 0.1rem solid var(--border-color);
    transition: width 0.3s ease;
}

.SidebarComponent.closed {
    width: 4.05rem; /* Ancho del sidebar cuando está cerrado */
}

.SidebarHeader{
    padding: 1.2rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--primary-color);
    transition: padding 0.2s ease;
}

.SidebarMenu{
    width: 100%; 
    height: calc(100% - 10rem);
    padding: 0 0.8rem;
    margin-bottom: auto;
    padding-top: 1rem;
    overflow-y: overlay;
    overflow-x: hidden;
    transition: height 0.3s ease;
}

.SidebarComponent.closed .SidebarMenu{
    height: calc(100% - 11rem); 
}

.SidebarMenu img, .SidebarFooter img{
    width: 1.3rem;
}

.SidebarComponent li{
    display: flex;
    padding: 0.5rem;
    border-radius: 0.7rem;
    list-style: none;
    cursor: pointer;
    position: relative;
}

.SidebarComponent li:hover{
    background-color: var(--menu-hover-color);
}

.SidebarComponent .Link{
    display: flex;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: var(--primary-color);
    align-items: center;
}

.SidebarMenu span, .SidebarFooter span{
    margin-left: 0.6rem;
    font-size: 0.9rem;
    white-space: nowrap;
    transition: opacity 0.3s ease;
}

.SidebarComponent.closed .SidebarMenu span{
    opacity: 0;
}

.SidebarComponent.closed .SidebarFooter span{
    opacity: 0;
}

.SidebarFooter{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 7rem;
    padding: 0.5rem 0.8rem;
    border-top: 0.1rem solid var(--border-color);
    overflow: hidden;
}   

.SidebarMenu::-webkit-scrollbar{
    width: 0.4rem;
}
.SidebarMenu::-webkit-scrollbar-thumb{
    background-color: var(--scrollbar-thumb-color);
}

/* Estilos para las listas desplegables */
.DropdownMenu {
    list-style: none;
    padding: 0.5rem 0;
    margin: 0;
    background-color: var(--background-color);
    border: 0.1rem solid var(--border-color);
    border-radius: 0.5rem;
    position: absolute;
    top: 100%;
    left: 0;
    width: 10rem;
    z-index: 10;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  }
  
  .DropdownMenu li {
    padding: 0.5rem;
    border-radius: 0.3rem;
    cursor: pointer;
  }
  
  .DropdownMenu li:hover {
    background-color: var(--menu-hover-color);
  }
  
  .DropdownLink {
    text-decoration: none;
    color: var(--primary-color);
    font-size: 0.9rem;
    display: block;
    width: 100%;
  }
  
  .DropdownLink:hover {
    color: var(--white-opacity);
  }
  
  /* Asegúrate de que los dropdowns no afecten el diseño cerrado */
  .SidebarComponent.closed .DropdownMenu {
    display: none;
  }