:root {
    --background-color: #282828;
    --border-color: #3E3E3E;
    --primary-color: #fff;
    --menu-hover-color: #1F1F1F;
    --scrollbar-thumb-color: #606060;
    --scrollbar-thumb-hover-color: #555;
    --black-color: #000;
    --dark-gray-color: #161616;
    --white-opacity: rgba(255, 255, 255, 0.7);
}

.SidebarComponent img{
    width: 2rem;
}

.SidebarComponent{
    position: fixed;
    width: 16rem;
    height: 100vh;
    padding-top: 4rem;
    z-index: 5;
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
    border-right: 0.1rem solid var(--border-color);
    transition: width 0.3s ease;
}

.SidebarComponent.closed {
    width: 4.64rem; /* Ancho del sidebar cuando está cerrado */
}

.SidebarHeader{
    padding: 1.2rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--primary-color);
    transition: padding 0.2s ease;
}

.SidebarComponent.closed .SidebarHeader{
    padding: 0.9rem 1rem;
}

.SidebarHeader img{
    width: 7rem;
    height: 7rem;
    object-fit: cover;
    border-radius: 50%;
    transition: width 0.3s ease, height 0.3s ease;
}

.SidebarComponent.closed .SidebarHeader img{
    width: 2rem;
    height: 2rem;
}

.SidebarHeader .UserData{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.1rem;
    gap: 0.3rem;
    overflow: hidden;
    opacity: 1;
    transition: all 0.3S ease;
}

.SidebarComponent.closed .SidebarHeader .UserData{
    height: 0;
    gap: 0;
    margin-top: 0;
    opacity: 0;
}


.SidebarHeader .UserData span:first-child{
    font-weight: 600;
    font-size: 0.9rem;
}

.SidebarHeader .UserData span:last-child{
    opacity: 0.5;
    font-size: 0.7rem;
}

.SidebarMenu{
    width: 100%; 
    height: calc(100% - 20rem);
    padding: 0 0.8rem;
    margin-bottom: auto;
    overflow-y: overlay;
    overflow-x: hidden;
    transition: height 0.3s ease;
}

.SidebarComponent.closed .SidebarMenu{
    height: calc(100% - 11rem); 
}

.SidebarMenu img, .SidebarFooter img{
    width: 1.3rem;
}

.SidebarComponent li{
    display: flex;
    padding: 0.8rem;
    border-radius: 0.7rem;
    list-style: none;
    cursor: pointer;
    position: relative;
}

.SidebarComponent li:hover{
    background-color: var(--menu-hover-color);
}

.SidebarComponent .Link{
    display: flex;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: var(--primary-color);
    align-items: center;
}

.SidebarMenu span, .SidebarFooter span{
    margin-left: 1.7rem;
    font-size: 0.9rem;
    white-space: nowrap;
    transition: opacity 0.3s ease;
}

.SidebarComponent.closed .SidebarMenu span{
    opacity: 0;
}

.SidebarFooter{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 7rem;
    padding: 0.5rem 0.8rem;
    border-top: 0.1rem solid var(--border-color);
    overflow: hidden;
}   

.SidebarMenu::-webkit-scrollbar{
    width: 0.4rem;
}
.SidebarMenu::-webkit-scrollbar-thumb{
    background-color: var(--scrollbar-thumb-color);
}